<!DOCTYPE html>
<html>
  <head>
    <title>How Bad?</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <form action="/" method="POST">
      <input type="text" name="sendText"/>
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
